# Database Configuration
DATABASE_DRIVER=postgresql
DATABASE_USER=your_db_user
DATABASE_PASSWORD=your_db_password
DATABASE_HOST=your_db_host
DATABASE_PORT=5432
DATABASE_NAME=your_db_name

# Super Admin Credentials
SUPER_ADMIN_NAME=Admin
SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_PASSWORD=your_secure_password

# Security
SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Kafka Configuration
KAFKA_URL=your_kafka_url:9092


# Frontend Configuration

# API URL (use the Docker service name for backend)
NEXT_PUBLIC_API_URL=http://app:8000

# WebSocket URLs
NEXT_PUBLIC_WS_HISTORY_URL=ws://app:8000/chat/ws/history?token=
NEXT_PUBLIC_WS_SEND_URL=ws://app:8000/chat/ws/send?token=

