pydantic
python-multipart
pydantic[email]
SQLAlchemy
sqlalchemy-utils
python-dotenv
sqlalchemy[asyncio]
asyncpg
alembic
fastapi
python-jose[cryptography]
passlib
uvicorn
aiokafka
uvicorn[standard]
websockets
kafka-python